<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dl">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <activity android:name=".Invoice.EditInvoice"></activity>
        <activity android:name=".Invoice.ViewInvoice" />
        <activity android:name=".History.ProductHistory" />
        <activity android:name=".History.CustomerHistory" />
        <activity android:name=".History.History" />
        <activity android:name=".Trends.ProductTrend" />
        <activity android:name=".Trends.CustomerTrend" />
        <activity android:name=".Trends.Trends" />
        <activity android:name=".Payments.addPayment" />
        <activity android:name=".Payments.PaymentList" />
        <activity android:name=".Invoice.addInvoice" />
        <activity android:name=".Invoice.InvoiceList" />
        <activity android:name=".Expenses.addExpense" />
        <activity android:name=".Expenses.ExpenseList" />
        <activity android:name=".Reports.Reports" />
        <activity android:name=".Reports.CustomerReport" />
        <activity android:name=".Reports.ExpenseReport" />
        <activity android:name=".Reports.ProductReport" />
        <activity android:name=".Products.addProducts" />
        <activity android:name=".Products.ProductsList" />
        <activity android:name=".Contacts.addContacts" />
        <activity android:name=".Contacts.ContactList" />
        <activity
            android:name=".LocationOwner.Profile"
            android:label="Profile"
            android:parentActivityName=".User.UserDashboard" />
        <activity android:name=".Common.LoginSignup.ForgetPasswordSuccessMessage" />
        <activity android:name=".Common.LoginSignup.SetNewPassword" />
        <activity android:name=".Common.LoginSignup.MakeSelection" />
        <activity android:name=".Common.LoginSignup.ForgetPassword" />
        <activity android:name=".Common.LoginSignup.VerifyOTP" />
        <activity android:name=".Common.LoginSignup.SignUp3rdClass" />
        <activity android:name=".Common.LoginSignup.SignUp2ndClass" />
        <activity android:name=".Common.LoginSignup.SignUp" />
        <activity android:name=".Common.LoginSignup.Login" />
        <activity android:name=".Common.LoginSignup.StartUpScreen" />
        <activity android:name=".User.UserDashboard" />
        <activity android:name=".Common.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>